<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button href="/tabs/find-recipes">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Find recipes</ion-label>
    </ion-tab-button>
    <ion-tab-button href="/tabs/my-book">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>My book</ion-label>
    </ion-tab-button>
    <ion-tab-button href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
