ion-content {
  --background: none; /* Remove default background */
  //background-image: url('/assets/img/top-view-fresh-tomatoes-oil-bottle-pepper-grinder-kitchen-table-with-copy-place.jpg'); /* Path to your image */
  background-size: cover; /* Cover the entire area */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh; /* Full viewport height */
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  a {
    text-decoration: none; // Removes underline
    color: inherit; // Inherits the color from the parent element
  }

}

